body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

.field {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
}

.field>div {
    height: 40px;
    width: 40px;
}